<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1> Prueba</h1>
    <% if (login){ %>
        <h1>Administrador es: <strong><%= name %></strong></h1>
        <a href="cerrarsesion" class="btn">cerrar sesion</a>
   <% } else { %>
        <h1><strong><%= name %></strong></h1>
        <a href="login">Ir login</a>
        <% } %>
</body>
</html>